.contactSection{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    padding-top: 0 !important;
    width: 100%;
}

.leftContact{
    display: flex;
    flex-direction: column;
}

.leftContactBlock{
    column-gap: 20px;
    display: flex;
}
.leftContactBlock>span{
    background-color: var(--color-deep-blue);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftContactBlock>div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}
.leftContactBlock>div>h5{
    margin-bottom: 0px;
    margin-top: 5px;
}
.leftContactBlock>div>p{
    font-size: 12px;
}

@media screen and (max-width:990px) {
    .contactSection{
        flex-direction: column;
        padding-left: 20px;
    }
}

@media screen and (max-width:615px) {
    .rightContact iframe{
        width: 400px !important;
        height: 200px;
    }
}

@media screen and (max-width:430px) {
    .rightContact iframe{
        width: 250px !important;
        height: 150px;
    }
}